<footer class="footer">
    <div class="container">
      <div>
        <h3>Contact Details</h3>
        <p>     </p>
        <h3>Phone</h3>
        <p>
        07766215405
        </p>
        <h3>Email</h3>
        <p>jon.byrne27@btinternet.com</p>
      </div>
      <div>
        <h3>Links</h3>
        <ul>
          <li><a href="/">About Me</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </div>
    </div>
  </footer>
<style>
    .footer {
  background-color: rgba(100, 34, 51, 0.533);
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a {
  color: #a741ff;
}

.footer a:hover {
  text-decoration: underline;
}
.footer h3 {
  margin-bottom: 10px;
}

.footer div:nth-child(1) {
  text-align: left;
}
@media (max-width: 500px) {

  .footer div:nth-child(2) {
    display: none;
  }
}

</style>