---
export interface Props {
    heading?: string;
    text?: string;
}
const {heading = "Welcome to Jonathan Byrne's portfolio!", text = "This portfolio was created using the web development tool astro!"} = Astro.props as Props;
---

<section class = "showcase">
    <div class = "showcase-text">
        <h1>{heading}</h1>
        <p>{text}</p>
    </div>
</section>

<style> .showcase {
    height: auto;
    background-color: var(--color-secondary);
    padding: 10px;
  }
  
  .showcase-blog {
    min-height: 300px;
  }
  
  .showcase-text {
    max-width: 500px;
    color: #fff;
    text-align: center;
    margin: 50px auto;
  }
  
  .showcase h1 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .showcase p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  </style>